* {
  margin: 0;
  padding: 0;
}

canvas {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
}

#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  z-index: 0;
}
h1 {
  text-align: center;
  font-size: 160px;
  line-height: 160px;
  font-family: 'Pirata One', cursive;
}
h2 {
  text-align: center;
  font-size: 14px;
  font-family: monospace;
}
