* {
  margin: 0;
  padding: 0;
}

canvas {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
}

#main {
  color: #fff;
}
h1 {
  text-align: center;
  font-size: 160px;
  line-height: 160px;
  font-family: 'Pirata One', cursive;
}
h2 {
  text-align: center;
  font-size: 14px;
  font-family: monospace;
}
